/* global styles */
/*.box{
    height: 100px;
    width: 200px;
}


.red{
    background-color: red;
    float: left;
}

.green{
    background-color: green;
    float: right;
}
.blue{
    background-color: blue;
    float: left;
    clear: right;
}
.purple{
    background-color: purple;
    float: right;
    clear: right;
}
.yellow{
    background-color: yellow;
    float: left;
    clear: left;
}
.orange{
    background-color: orange;
    float: right;
    clear: right;
}*/
/* end global styles */


/* Nav styles */
.main-nav {
    height: 73px;
    background-color: black;
}

.logo {
    height: 56px;
    padding: 10px;
}

.nav-list {
    float: right;
    list-style-type: none;
}

li {
    color: #fff;
    float: left;
    padding: 14px 16px 18px 20px;
}

.center {
    text-align: center;
}


/* End Nav styles */